#root {
  text-align: center;
}

body {
  background-color: #111827; /* Fond sombre */
  color: #F9FAFB; /* Texte clair */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


